<nav>
    <h1 class='header'>
        <%= link_to "Home", root_url %>
        </h1>
    <h2>
        <% if @user %>
            <%= @user.admin? ? 'Admin' : 'User' %>
        <% end %>
    </h2>
    <ul>
            <li>
                <%= link_to "See Users", users_url %>
            </li>
    </ul>
</nav>
